@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Martian+Mono:wght@100..800&family=Solway:wght@300;400;500;700;800&display=swap');

body {
  background-color: #d6e1c2;
  font-family: "Martian Mono", monospace;
  margin: 10px;

}



header {
  background-color: #d6e1c2;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 10px;
  align-items: center;
  position: relative;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-radius: 4px;
  width: 70rem;
  padding-left: 20px;
  padding-right: 10px;
  align-items: center;
  position: relative;
  background-color: #fcfcee;
  box-shadow: 0px 1px 0px 0px #e2e2e291;
  border: 0.0623rem solid black;

}


iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}



/* Logo */
.logo {
  border: 0.0623rem solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px;

}

/* Navigation Buttons */
.nav-button {
  border: none;
  background-color: transparent;
}

.nav-button a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  padding: 5px 20px;
}

/* Estilo para o botão ativo */
.nav-button.ativo a {
  background-color: #FFD6D8;
  color: black;
  border-radius: 3px;
  border: 0.0623em solid black;
}



.layout {
  width: 100%;
  min-height: 97vh;
  display: grid;
  grid-template-areas:
    "header header header"
    "leftSide body rightSide"
    "footer footer footer";
  grid-template-rows: auto 1fr auto;
  /* Altura automática para header e footer, e o conteúdo se expande */
  grid-template-columns: auto 1fr auto;
  gap: 8px;
}

.title-bar {
  color: rgb(255, 255, 255);
}



.active-content {

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;

  gap: 150px;

}



/* Navigation */
.navigation {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.nav-button {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
}

.icon-black {
  color: #000;
}

/* Details */
.details {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  color: #333;
}





/* Dialog Box */

.dialog_box {
  font-size: 12px;
  height: 250px;
  width: 550px;
  background-color: #ffd6d8;
  text-align: center;
  font-family: "Martian Mono", monospace;
  text-align: start;
  bottom: 80px;
  padding: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.dialog_box p {
  padding: 10px;
}

.dialog_box h1 {
  padding: 10px;
}


.title-tab {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title-tab button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 0.0623em solid black;
  border-radius: 4px;

}

.iframe-container {
  background-color: #b0f2c250;
  border: 1px solid;
  margin-top: 20px;
  justify-content: center;
  height: 400px;
  border-radius: 5px;

}







.text-content {
  background-color: #fcfcee;
  border: 1px solid #ccc;
  /* Alterei a cor da borda para uma tonalidade mais suave */
  border-radius: 5px;
  padding: 25px;
  margin-top: 15px;
  text-align: left;
  /* Usei "left" para maior clareza */
  height: auto;
  /* Permite que a altura se ajuste automaticamente ao conteúdo */
}

.text-content p {
  margin: 10px 0 40px 0;
  /* Removeu a margem à direita e ajustou as margens superiores e inferiores */
  line-height: 1.5;
  /* Melhora a legibilidade */
}

.text-content li {
  line-height: 1.5;
  /* Melhorou a legibilidade dos itens da lista */
  display: flex;
  align-items: center;
  /* Alinha os ícones verticalmente */
  gap: 10px;
}

.text-content h2 {
  font-size: 18px;
  /* Aumentei o tamanho do título para destaque */
  margin-bottom: 10px;
  color: #333;
  /* Cor do texto do título */
}





















.buttons {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.buttons button {
  background-color: transparent;
  font-family: "Martian Mono", monospace;
  width: 150px;
  border: none;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  margin-top: 5px;
  border: 0.0623em solid black;
}

.buttons button:hover {
  background-color: #ffd6d8;
  /* cor do fundo do botão ao passar o mouse */
}

.buttons button i {
  transition: color 0.3s;
  /* transição de cor suave no ícone */
}

.buttons button:hover i {
  color: white;
  /* cor do ícone ao passar o mouse */
}


.buttons button.active {
  background-color: #ffd6d8;
  /* Cor de fundo para o botão ativo */
  color: #000000;
  /* Cor do texto para o botão ativo */
}

.buttons button.active i {
  color: #ffffff;
  /* Cor do ícone para o botão ativo */
}



.course-content {
  width: auto;
  border-radius: 5px;
  background-color: #fcfcee;
  overflow: hidden;
  /* para bordas internas */
  border: 1px solid #000000;
  font-family: "Martian Mono", monospace;

}



details {
  border-top: 1px solid #000000;
}

summary {

  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  font-weight: bold;
  color: #444;
  padding: 15px;
  font-size: 12px;
}

.title {
  flex-grow: 1;
  font-size: 12px;
}

.time {
  font-size: 12px;
  color: #888;
  margin-left: auto;
  /* Alinha o tempo à direita */
}

.icone {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 3px;
  width: 20px;
}

.rotate-icon {
  transition: transform 0.3s;
}

details[open] .rotate-icon {
  transform: rotate(90deg);
}

ul {
  margin: 0;
  padding: 10px 20px;
  list-style: none;
  border-top: 1px solid #000000;
  background-color: #ffd6d87a;

}

li {
  display: flex;
  align-items: center;
  padding: 8px 0;
  color: #555;
  font-size: 10px;
}

li a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  color: #000000;
}

.aula-nome {
  flex-grow: 1;
}

.aula-tempo {
  /* Alinha o tempo à direita */
  color: #888;
}

li a:hover {
  color: blueviolet;
}

.lesson-content {
  background-color: #fcfcee;

}

.subject-content,
.lesson-content {
  display: none;
  font-size: 12px;
}

.subject-content.active,
.lesson-content.active {
  display: block;
}

.header {
  grid-area: header;
  background-color: rgba(238, 238, 238, 0.964);
}

.leftSide {
  grid-area: leftSide;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #fcfcee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;

}


.lesson-content {
  border: 0.0623em solid black;
  border-radius: 4px;
}



/* Estilo padrão do ícone (apontando para a direita) */
.rotate-icon {
  transition: transform 0.3s ease;
}

/* Quando o <details> está aberto, gira o ícone para baixo */
details[open] .rotate-icon {
  transform: rotate(90deg);
}


.main-content {
  grid-area: body;
  border: 1px solid #000000;
  /* linha entre o summary e os itens */
  background-color: #cfa4d980;
  /* Lavanda mais claro para contrastar */
  border-radius: 5px;
  padding: 20px;

}

.rightSide {
  grid-area: rightSide;
  width: 350px;

}

.footer {
  grid-area: footer;
}







.container {
  display: none;
  /* Esconde o container inicialmente */
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  /* Posiciona o container de forma absoluta */
  z-index: 9999;
  /* Alto z-index para ficar à frente de outros elementos */
  /* Defina as coordenadas para onde você quer que ele apareça */
  top: 50px;
  /* Ajuste conforme necessário */
  left: 50%;
  /* Centraliza horizontalmente */
  transform: translateX(-50%);
  /* Corrige a centralização */
  width: 100vh;
  height: 50vh;

}

.button {
  padding: 10px 10px;
  font-size: 12px;
  color: #fff;
  background-color: #e100ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

}

.button:hover {
  background-color: #0056b3;
}

.close-btn {
  position: absolute;
  /* Posiciona o botão de fechar */
  top: 10px;
  right: 10px;
  background-color: transparent;
  /* Fundo transparente */
  border: none;
  /* Remove borda */
  cursor: pointer;
  font-size: 20px;
  /* Tamanho do ícone */
  color: #000000;
  /* Cor do ícone */
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 30px;
  width: 30px;
}

.close-btn:hover {
  color: #ffc3c3;
  /* Muda a cor ao passar o mouse */
}

.question {
  display: none;
}

.question.active {
  display: block;
}

.start-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 1.1em;
}

.start-button:hover {
  background-color: #45a049;
}

.choices label {
  display: block;
  padding: 10px;
  background: #e7e7e7;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
  font-size: 1.1em;
  transition: background 0.3s;
}

.choices input[type="radio"] {
  display: none;
}

.choices input[type="radio"]:checked+label {
  background: #4CAF50;
  color: white;
}

.result-container {
  display: none;
  flex-direction: column;
  align-items: center;
}