@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

:root {
  --bg-color: #fdf7e1;
  --text-color: rgb(0, 0, 0);
  --tab-bg-color: #f1f1f1;
  --tab-hover-bg-color: #ddd;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
button:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}
/* Modo Escuro */
body.dark-mode {
  --bg-color: #090909;
  --text-color: #ffffff;
  --header-bg-color: #2c0e37;
  --tab-bg-color: #7e7f9a;
  --tab-hover-bg-color: #444444;
  --button-bg-color: #c44d4d;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #0d0d0e27 1px, transparent 1px),
    linear-gradient(to bottom, #1111112f 1px, transparent 1px);
  background-size: 50px 50px; /* Tamanho dos quadrados */
  z-index: -1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.menu-item summary {
  text-decoration: none;
  display: block;
  width: auto;
  border-bottom: 1px solid;
  transition: all 0.3s ease;
  font-family: "JetBrains Mono", monospace;
  padding: 5%;
  text-align: left;
}

.menu-item summary {
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
}

details[open] summary {
  background-color: #bbd771;
  border: 1px solid;
  border-radius: 3px;
}

.submenu {
  padding-left: 10px;
}
.submenu h2 {
  padding-left: 20px;
  font-family: "JetBrains Mono", monospace;
}
.barra a,
span {
  margin: 7px;
  text-decoration: none;
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  color: #030000;
}
.barra {
  background-color: #ffd290;
  width: auto;
  height: 30px;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
}
.submenu li {
  display: flex;
}
.submenu li a {
  color: #333;
  text-decoration: none;
  justify-content: space-between;
  font-family: "JetBrains Mono", monospace;
  padding-left: 10px;
  position: relative;
  padding-bottom: 5px;
  font-size: 14px;
}
.submenu li a:hover {
  color: #bbd771;
}

h2 {
  font-family: "JetBrains Mono", monospace;
}
header {
  display: inline-flex;
  margin-bottom: 40px;
  height: 10vh; /* Altura do cabeçalho reduzida */
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: var(--text-color);
}
nav {
  width: 100%;
  padding: 15px 0; /* Espaçamento reduzido */
  display: flex;
  justify-content: center;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 10px; /* Margem reduzida */
  font-size: 16px; /* Tamanho da fonte reduzido */
  font-family: "Jersey 10", sans-serif;
}

#toggle-dark-mode {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: var(--button-bg-color);
  color: #fff;
  border: none;
  padding: 8px 16px; /* Padding reduzido */
  cursor: pointer;
  border-radius: 5px;
}

.janela {
  background-color: #a185b8;
  height: 30px; /* Altura da janela reduzida */
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.tab-bar {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.titulo {
  font-family: "Fira Code", monospace;
  font-size: 10px;
  margin-left: 20px;
}
.fechar {
  background-color: #fcb7af;
}
.maximizar {
  background-color: #b0f2c2;
}
.minimizar {
  background-color: #ffda9e;
}
.aulas-sidebar a {
  font-family: "Fira Code", monospace;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #bbd771;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  box-shadow: 6px 5px 0px rgb(0, 0, 0);
  height: 55px;
  /* Ajuste a altura para que as linhas sejam visíveis */
  width: 55px;
  border: 1px solid black;
  justify-content: center;
}

.line1,
.line2,
.line3 {
  background-color: #030000;
  height: 3px;
  /* Ajuste a altura para que as linhas sejam visíveis */
  width: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fdeec7;
  min-width: 16px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 3px;
  top: 100%;
  left: 0;
  margin-top: 20px;
  width: 150px;
  height: auto;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  padding: 20px;
  display: block;
  align-self: center;
  text-align: center;
  font-family: "Fira Code", monospace;
  font-size: 15px;
  font-weight: bolder;
  justify-content: center;
}

.dropdown-content a:hover {
  background-color: #da5eb057;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.minimizar,
.maximizar,
.fechar {
  width: 15px;
  height: 15px; /* Tamanho reduzido dos botões */
  border: 1px solid var(--text-color);
  margin-right: 5px;
  border-radius: 50%;
}
h3 {
  font-family: "Fira Code", monospace;
}

.sidebar-container {
  display: flex;
  height: 75vh; /* Ajuste a altura conforme necessário */
}

.sidebar {
  width: 150x; /* Largura da sidebar; ajuste conforme necessário */
  background-color: #ffec99;
  padding: 20px; /* Ajuste o padding conforme necessário */
  border-right: 1px solid;
}

.content {
  flex: 1; /* Permite que o conteúdo ocupe o espaço restante */
  width: calc(100% - 180px); /* Largura ajustada para compensar a sidebar */
  margin: auto;
  box-shadow: 6px 5px 0px rgb(0, 0, 1);
  text-align: center;
  background-color: #fdeec7;
  border: 1px solid var(--text-color);
  border-radius: 10px;
}

.tab-content {
  flex: 1;
  padding: 0px;
  border-radius: 10px;
}
#video-player {
  border: none;
  height: 400px;
  width: 700px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.tab-buttons {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

.tab-bar2 {
  border-bottom: 1px solid;
  display: flex;
  background-color: #a185b8;
  padding: 1%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.iframe-container {
  background-color: #b0f2c2;
  border: 1px solid;
  margin: 100px;
  border-radius: 10px;
  justify-content: center;
  height: 430px;
  width: 700px;
}
.tab {
  display: none;
}
.tab-active {
  display: block;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer {
  color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.timer-display {
  font-size: 3rem;
  font-family: "Fira Code", monospace;
  margin-bottom: 20px;
  background-color: #090909;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
button {
  background-color: transparent;
  font-family: "Fira Code", monospace;
  font-weight: 800;
  border: 1px solid;
  border-radius: 5px;

  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #cc0066;
}

.note {
  width: 160px;
  height: 160px;
  border: 1px solid;
  background-color: #ffec99; /* Cor da nota */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 150px;
  top: 220px;
  padding: 30px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #333;
  transform: rotate(4deg);
  padding: 40px;
}

.tape {
  width: 100px;
  height: 25px;
  border: 1px solid;
  background-color: #d4d4d4; /* Cor da fita */
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6px/18px 0;
  background: rgba(227, 200, 114, 0.4);
}
