@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Martian+Mono:wght@100..800&family=Solway:wght@300;400;500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Inclui bordas e preenchimentos no tamanho total do elemento */
}

::-webkit-scrollbar {
  display: none;
}


/* Body */
body {
  background-color: #fcfcee;
  margin: 0;


}

/* Header */

header {
  background-color: #FFD6D8;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 10px;
  align-items: center;
  position: relative;
  box-shadow: 0px 1px 0px 0px #e2e2e291;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-radius: 4px;
  width: 70rem;
  padding-left: 20px;
  padding-right: 10px;
  align-items: center;
  position: relative;
  background-color: #fcfcee;
  box-shadow: 0px 1px 0px 0px #e2e2e291;
  border: 0.0623rem solid black;

}


/* Logo */
.logo {
  border: 0.0623rem solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px;

}

/* Navigation Buttons */
.nav-button {
  border: none;
  background-color: transparent;
}

.nav-button a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  padding: 5px 20px;
}

/* Estilo para o botão ativo */
.nav-button.ativo a {
  background-color: #FFD6D8;
  color: black;
  border-radius: 3px;
  border: 0.0623em solid black;
}

#home-button {
  background-color: #f9c4d2;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px 20px;
}

#home {
  display: flex;
  gap: 150px;
  background-color: #FFD6D8;
  align-items: center;
  justify-content: center;
  width: 250vh;
  border-bottom: 1px solid black;

}

#home img {
  position: relative;
  bottom: -5px;
}



.section1 {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to bottom, #FFD6D8 0, #FFD6D8 50%, transparent 30%);
}

/* section-button*/





#section-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  position: absolute;
  top: 90%;
  animation: float 3s ease-in-out infinite;
}

#section-button {
  color: #382b22;
  text-transform: uppercase;
  padding: 0.10em 1.10em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

#section-button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

#section-button:hover {
  background: #ffe9e9;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
}

#section-button:hover::before {
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
}

#section-button:active {
  background: #ffe9e9;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
}

#section-button:active::before {
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
}


@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.25em);
    /* Altura da elevação */
  }
}





/* Section 2*/


.section2 {
  height: 100vh;
  display: flex;
  padding-top: 100px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


#home2 {
  display: flex;
  gap: 110px;
  align-items: center;
  justify-content: center;
  width: auto;
  flex-direction: column;
}

.wrapper {
  display: flex;
  gap: 150px;
  align-items: center;
  justify-content: center;
}

/* card */


.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

html {
  scroll-behavior: smooth;
}


.card {
  font-family: "Martian Mono", monospace;
  font-size: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  line-height: 1.1;
  border: 2px solid #000000;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card button {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  color: white;
  border: 0.0623rem solid black;
  border-radius: 4px;
  font-family: "Martian Mono", monospace;

}

.card button:hover {
  background-color: #FFD6D8;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  color: #000000;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .heading {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.3;
  z-index: 1;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .para {
  z-index: 1;
  opacity: 0.8;
  font-size: 15px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card::before {
  content: "";
  position: absolute;
  right: -5.2rem;
  top: -5.2rem;
  width: 10.4rem;
  height: 10.4rem;
  background: #8FBC8B;
  z-index: -1;
  opacity: 0;
  border-radius: 50%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card::after {
  content: "";
  position: absolute;
  left: -5.2rem;
  bottom: -5.2rem;
  width: 10.4rem;
  height: 10.4rem;
  background: #8FBC8B;
  z-index: -1;
  opacity: 0;
  border-radius: 50%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover::before {
  scale: 7;
  opacity: 1;
}

.card:hover::after {
  scale: 7;
  opacity: 1;
}

.card:hover .content .heading {
  color: #ffffff;
}

.card:hover .content .para {
  color: #ffffff;
}

.card:hover {
  box-shadow: 0rem 6px 13px rgba(0, 0, 0, 0.1),
    0rem 24px 24px rgba(0, 0, 0, 0.09), 0rem 55px 33px rgba(0, 0, 0, 0.05),
    0rem 97px 39px rgba(0, 0, 0, 0.01), 0rem 152px 43px rgba(0, 0, 0, 0);
  border-color: #000000;
  scale: 1.05;
  box-shadow: 10px 10px 0 #000;
}


/*    section3    */





.section3 {
  height: 100vh;
  background-image: linear-gradient(to bottom, transparent 0, transparent 50%, #FFD6D8 30%);
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.home3 {
  display: flex;
  flex-direction: column;
  background-color: #FFD6D8;
  align-items: center;
  justify-content: center;
  width: auto;
  border-top: 1px solid black;
  height: 50vh;
}

.footer-text {
  background-color: transparent;
  width: 500px;
  font-family: "Martian Mono", monospace;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

}

.footer-img {
  position: relative;
  left: 43%;
  top: 67px;
}

span {
  margin-top: 60px;
}




/* Dialog Box 2 */



.dialog_box2 {
  width: 550px;
  background-color: #F8F8C7;
  text-align: center;
  font-family: "Martian Mono", monospace;
  text-align: start;
  bottom: 80px;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 3px 3px 0 #000;
  position: relative;
  bottom: 100px;
}

.dialog_box2 p {
  padding: 10px;
}

.dialog_box2 h1 {
  padding: 10px;
}



/* Dialog Box */

.dialog_box {
  font-size: 12px;
  width: 550px;
  background-color: #F8F8C7;
  text-align: center;
  font-family: "Martian Mono", monospace;
  text-align: start;
  bottom: 80px;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 3px 3px 0 #000;
  position: relative;
  bottom: 100px;
}

.dialog_box p {
  padding: 10px;
}

.dialog_box h1 {
  padding: 10px;
}