@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Fira+Code:wght@300..700&family=Jersey+10&family=Lilita+One&family=Londrina+Solid:wght@100;300;400;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Fira+Code:wght@300..700&family=Jersey+10&family=Lilita+One&family=Londrina+Solid:wght@100;300;400;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
}

header {
    background-color: #F6B93B;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    color: white;
}

.rodape {
    background-color: #F6B93B;
    padding: 100px 200px; /* Reduzido para responsividade */
    max-width: 700px;
    margin: 10px auto 0;
}

.rodape h1 {
    font-family: "Jersey 10", sans-serif;
    font-size: 40px;
    text-align:center;
}

.rodape p {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    max-width: 600px;
    text-align: justify;
    margin: 10px auto 0;
    font-weight: 500;
}

header img {
    width: 50%;
    max-width: 300px;
    height: auto;
    position: absolute;
    bottom: -100px;
}

nav {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-family: "Jersey 10", sans-serif;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.content {
    margin-bottom: 180px;
    padding: 150px 20px 20px 20px;
    text-align: center;
    background-color: white;
}

.content h2 {
    font-family: "Jersey 10", sans-serif;
    font-size: 70px;
    color: #0B6E6E;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.content p {
    max-width: 600px;
    margin: 10px auto 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

@media (max-width: 768px) {
    header img {
        width: 70%;
        max-width: 250px;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        margin: 10px 0;
    }

    .content h2 {
        font-size: 28px;
    }

    .rodape h1 {
        font-size: 32px;
    }

    .rodape p {
        font-size: 16px;
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    header {
        height: 50vh;
    }

    .content h2 {
        font-size: 24px;
    }

    .rodape h1 {
        font-size: 28px;
    }

    .rodape p {
        font-size: 14px;
    }

    nav a {
        font-size: 16px;
    }
}
